<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.littlefisher.blog.dao.mapper.AuthorDoMapper">
  <resultMap id="BaseResultMap" type="com.github.littlefisher.blog.dao.model.AuthorDo">
    <!--@mbg.generated-->
    <id column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="group" jdbcType="VARCHAR" property="group" />
    <result column="city_code" jdbcType="INTEGER" property="cityCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `author_id`, `name`, `avatar`, `email`, `signature`, `job`, `group`, `city_code`, 
    `address`, `phone`, `create_time`, `update_time`
  </sql>
</mapper>