<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.littlefisher.blog.dao.mapper.TagDoMapper">
  <resultMap id="BaseResultMap" type="com.github.littlefisher.blog.dao.model.TagDo">
    <!--@mbg.generated-->
    <id column="code" jdbcType="INTEGER" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `code`, `name`, `create_time`, `update_time`
  </sql>
    <select id="queryPostTagByAuthorId" resultType="com.github.littlefisher.blog.dao.model.TagDo">
        select distinct b.`code`, b.`name`, b.`create_time`, b.`update_time` from post_tag_relation a
            left join tag b on a.tag_id = b.`code`
            left join post c on a.post_id = c.post_id where c.author_id = #{authorId} order by b.name
    </select>
</mapper>